<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Final Fantasy: Mystery World</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <fonts>
    <path folder="fonts/"/>
    <default_font file="Final_Fantasy_font.ttf" size="36"/><!--ID = 0-->
    <font file="pixelmix.ttf"/><!--ID = 1-->
                               <!--ID = 2...-->
  </fonts>

  <map>
    <folder>maps/</folder>
    <maps>
      <tutorial_map>tutorial_movement.tmx</tutorial_map>
      <lobby_map>iso_walk.tmx</lobby_map>
    </maps>

  </map>

</config>

<!-- Config file for the game -->

