<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Final Fantasy: Mystery World</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
    <maps>
      <tutorial_map>Lobby.tmx</tutorial_map>
    </maps>

  </map>

</config>

<!-- Config file for the game -->

