<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Final Fantasy: Mystery World</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entity_manager>
    <player>
      <Animations>
        <GoLeft speed="5.0f" loop="true">
          <frame x="33" y="15" w="14" h="27"/>
          <frame x="81" y="15" w="14" h="27"/>
        </GoLeft>
        <IdleLeft speed="5.0f" loop="true">
          <frame x="57" y="16" w="14" h="26"/>
        </IdleLeft>
      </Animations>
    </player>
  </entity_manager>
</config>

<!-- Config file for the game -->

