body {
    background: rgb(218, 234, 253);
    margin: 0;
    padding: 0;
  }

  section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
  }
  
  /* HEADER */
  
  
  header.scroll_navbar{
    background-color: rgb(12, 132, 187);
    padding: 20px;
    text-align: center;
    position:sticky;
    top:0;
    z-index:1;
    height: 50px;
  }

  header {
    background-color: rgb(12, 132, 187);
    height: 120px;
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
  }

  
  
  header.scroll_navbar a{
     color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 16px;
  }

  header a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 19px;
  }


  a:hover {
      text-decoration: underline;
  }
  
  
  header.scroll_navbar .logo a{
    background-image: url("logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top: -40px;
  }

  header .logo a {
    background-image: url("logo.png");
    background-size: 180px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 180px;
    position: relative;
    text-indent: -9999999px;
    top: -65px;
    width: 180px;
  }


  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  header .mobile{
    display: none;
  }
  
  @media screen and (max-width: 572px){
    header .mobile{
      display: inline-block;
    }
    header .desktop{
      display: none;
    }
  }

  /* FOOTER */
  
  footer {
    background-color: rgb(12, 132, 187);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 20px 20px;
    text-align: center;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  footer li{
      display: inline-block;
  }

  footer  a {
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: -9999999px;
    top: -17px;
    width: 50px;
  }

  footer .github a {
    background-image: url("github_logo.png");
  }

  footer .twitter a {
    background-image: url("twitter_logo.png");
  }

  footer .mail p{
    background-image: url("mail_logo.png");
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: 60px;
    line-height: 50px;;
    width: 50px;
  }

  /* SECTION*/

  section h2{
    color:rgb(228, 123, 4);
    text-align: center;
  }

  section div.gallery{
    width:640px;
    height:400px;
    position: relative;
    left:50%;
    transform:translate(-50%);
    background-image:url('images/Foto1.jpg');
    background-size: 640px 400px;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 14s infinite linear;
  } 

  @keyframes slider{
    0%{ background-image:url('images/Foto1.jpg');
    background-size : 640px 400px; }
    33%{ background-image: url('images/Foto2.jpg');
    background-size : 640px 400px; }
    66%{ background-image: url('images/Foto3.jpg');
    background-size : 640px 400px; }
  }

section.game_description,section.team{
  background: rgb(212, 76, 22);
  color: whitesmoke;
  font-size: 18px;
  margin:  20px;
  margin-bottom: 0%;
  padding: 20px;
}

section h1.video_title{
  background: rgb(224, 107, 61);
  color: whitesmoke;
  font-size: 24px;
  margin: 0% 20px;
  padding: 25px 20px 15px 20px;
}

section div.videos{
  background: rgb(224, 107, 61);
  margin: 20px;
  margin-top:0%;
  padding: 5px 20px 20px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


section div.videos figure {
  margin: auto;
  padding: 5px;
  width: 200px;
}

section div.videos figure iframe {
  border: 1px solid white;
  box-shadow: gray 0 0 10px;
  width: 200px;
  height: 200px;
}

section.video_gallery{
  margin-top: 0;
}

/* FEATURES */

section ul.list-releases{
  padding-left: 0;
  margin: 20px 20%;
  font-family: sintony,Arial;
  color: black;
  background-color: rgb(247, 141, 100);
}

section ul.list-releases li{
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 2px solid rgb(129, 191, 241);
  min-height: 85px;
  font-size: 16px;
}

section ul.list-releases li.last-release{
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 2px solid rgb(129, 191, 241);
  min-height: 85px;
  font-size: 16px;
  background: rgb(255, 102, 0);;
}

section ul li.last-release h4{
  color:white;
}

section ul.list-releases li a, section div div a.download_link{
  text-decoration: none;
  background: rgb(78, 181, 216);
  color: white;
  padding: 3px 10px;
  font-size: 18px;
  line-height: 2;
  border-radius: 4px;
  float: right !important;
}
section div div a.download_link{
  margin: 20px;
}

/* FEATURES */

section.members {
  font-size: 18px;
  background:rgb(255, 145, 94);
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 0%;
  padding: 20px;
}

section.members figure {
  margin: auto;
  padding: 30px;
  text-align: center;

  width: 200px;
}

section.members figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
}

figcaption{
  /*background: white;*/
  border-radius: 8px;
}

section.team{
  min-height: 300px;
  line-height: 1.5em;
  margin-top: 100px;
}

section.team img {
  border: 1px solid white;
  border-radius: 2em;
  box-shadow: gray 0 0 10px;
  width: 400px;
  float: right;
  margin-left: 40px;
}


@media screen and (min-width: 958px){
  section.game_description,section.team{
    margin:  20px 200px;
    margin-bottom: 0%;
  }

  section.team{
    margin-top: 100px;
  }

  section h1.video_title{
    margin: 0% 200px;
  }

  section div.videos{
    margin: 200px;
    margin-bottom: 20px;
    margin-top:0%;
  }
  section.members {
    margin: 200px;
    margin-top: 0%;
    margin-bottom: 20px;
  }
}

/* POP UP*/

#modal100:target, #modal095:target, #modal094:target, #modal093:target, #modal092:target, #modal091:target, #modal090:target, #modal082:target, #modal081:target, #modal080:target, #modal071:target, #modal070:target,
#modal061:target, #modal060:target, #modal053:target, #modal052:target, #modal051:target, #modal050:target, #modal041:target, #modal040:target, #modal031:target, #modal030:target, #modal021:target,
#modal020:target, #modal010:target {
    opacity: 1;
    visibility: visible;
}

#modal100:target .popup, #modal095:target .popup, #modal094:target .popup, #modal093:target .popup, #modal092:target .popup, #modal091:target .popup, #modal090:target .popup, #modal082:target .popup, #modal081:target .popup,
#modal080:target .popup, #modal071:target .popup, #modal070:target .popup, #modal061:target .popup, #modal060:target .popup, #modal053:target .popup, #modal052:target .popup, #modal051:target .popup,
#modal050:target .popup, #modal041:target .popup, #modal040:target .popup, #modal031:target .popup, #modal030:target .popup, #modal021:target .popup, #modal020:target .popup, #modal010:target .popup {
    opacity: 1;
    visibility: visible;
}

.background{
  background-color: rgba(0, 0, 0, 0.8);
  width:100%;
  height: 320%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.popup{
  min-width: 50%;
  min-height: 30%;
  width: auto;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 1em;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  line-height: 1.5em;
  font-size: 16px;
}

section div div h2{
  color: dodgerblue;
  margin-bottom: 1em;
  text-align: left;
}

.changelog_close{
  color: #363636;
  font-size: 2em;
  position: absolute;
  top: .5em;
  right: 1em;
}

/* MEMBER */

section.member{
  background: rgb(255, 175, 129);
  margin: 20px 20px 0 20px;
  padding: 2em 3em;
  margin-top: 100px;
}

section.member h1{
  color: white;
}

section.member img{
  width: 250px;
  height:300px;
  border: 1px solid rgb(255, 255, 255);
}

section.member ul{
  position: absolute;
  font-size: 1.5em;
  top: 9em;
  left: 14em;
  line-height: 2.5em;
  padding-top: 2em;
  padding-left: 2em;
}

@media screen and (max-width:712px){
  section.member ul{
    position: initial;
      padding-top: 0;
      padding-left: 0;
      line-height: 2.5em;
  }
}

section.work{
  background: lightblue;
  margin: 5px 20px 20px 20px;
  padding: 2em;
  font-size: 18px;
}

section.work h2{
  font-size: 28px;
  text-align: left;
  color: rgb(9, 98, 139);
}

section.work img{
  display: block;
  margin: auto;
}

@media screen and (max-width:1395px){
  section.work img{
  width: 100%;
  height: auto;
  }
}

section ul li a.github{
  text-decoration: none;
}

/* IMAGE GALLERY SLIDER */

section.container{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
	position: relative;
	width: 30%;
	height: 0;
  padding: 0% 0% 20% 0%;
  
	background-color: rgb(170, 210, 255);
	box-shadow: solid 10px rgba(0, 0, 0, 0.20);
}

section div.slide_img{
  position: absolute;
  width: 100%;
  height: 100%;
}

section div.slide_img img{
  height: 100%;
  display: block;
  margin: auto;
}

input#i1,input#i2,input#i3{
  display: none;
}

section div label.prev, section div label.next{
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0%;
  background: rgba(82, 82, 255, 0.2);
  z-index: 99;
  cursor: pointer;
}

section div label.prev{
  left: 0;
}

section div label.next{
  right: 0;
}

section div label.prev:hover, section div label.next:hover {
  transition: .3s;
  background-color:  rgba(82, 82, 255, 0.8);;
}

section div.nav{
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

section div label.dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 17, 255, 0.6);
}

section div.slide_img{
  z-index: -1;
}

input#i1:checked ~ #one,
input#i2:checked ~ #two,
input#i3:checked ~ #three{
	z-index: 9;
	animation: scroll 1s ease-in-out;
}

input#i1:checked ~ .nav #dot1,
input#i2:checked ~ .nav #dot2,
input#i3:checked ~ .nav #dot3{
  background: rgba(255, 250, 250,.8);
}

@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

@media screen and (max-width: 685px) {
	section.container {
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%;
  }
  section div label.prev, section div label.next {
    width: 15%;
    border: solid 12px;
  }

  section div label.dots {
    width: 12px;
    height: 12px;
	}
}

section.work video{
  display: block;
  margin:auto;
}
